{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'D:\Jango\Projects\static\css\accounts\reset.css' %}">

{% comment %}
  This template is for resetting a user's password.
  It includes a form for entering the new password.
{% endcomment %}
<form action="" method="post">
    {% csrf_token %}
    <h2>Reset Password</h2>

    {{ form.as_p }}
    <input type="submit" value="Reset Password">
</form>
{% endblock content %}